@media (min-width: 375px) {
	
header.topbar{
   
   .container{
       max-width: 375px;   
       flex-direction:column;
    .icon{
    	align-items:center;
    	padding-bottom: 1rem;
    }
    .auth {
    div {
      a{
      	   font-size:0.7rem;
           margin-right: 0rem;
        }
       
   	}
    
    }	
   }
    
}
nav{
	.container{
		flex-direction:column;
	}
   .navbar{
   	text-align: center;
   }
}

//------------------------

section.box{
    height: 300px;
	background-position: 80% 80%;
	text-align: center;
	.container{
       position: relative;
       flex-direction:column;
	}    
div{
		 h1{
			font-size: 1.3rem;
		}
	p{
		width: 80%;
		line-height: 1.1rem;
		margin: 0.7rem auto; 
	} 
	.welcome{
		    margin: 0px 50px;
	}
	button{
		align-items:center;
		margin-right: 1rem;
	}
}
	.header-img{	
		img{
			display: none;
		}
	}
}
.about-meal-box{
	flex-direction:column;

	img{
		width: 100%;
	}
  .about-meal-text{
    margin: auto;
    text-align: center;
  }
}
.service{
  .card-wrapper{
  flex-direction:column;
  margin-top: 0rem;
  margin-right: 0rem;
  }
  .card{
    margin-right: 0rem;
    margin-top: 5rem;
  }
}

 .big-deal{
  
  .timer{
    .time{
      height: 100px;

      span:first-child{
        font-size: 1.5rem;
      }
    }
  }
 }

 .blog{
 
  .section-heading{
  	margin-bottom:2rem;
  }
 
  .article-wrapper{
  	flex-direction:column;
      margin-right: 0rem;
    .article-card{
    	margin-top: 3rem;
      margin-right: 0rem;
      .card-content{
        padding: 1.5rem;
        text-align: center;
       
       h2{
        font-size: 1.1rem;
       }
       
      .post-meta{
      	font-size: 0.8rem;
      }
      }
     
    }
  }
 }


.subscribe{
	.container{
		flex-direction:column;
	}
  .sub-img{
    width: 100%;
    img{
    	width: 100%;
    }
  }
 }

 .contact{
 	flex-direction:column;
  .contact-info-wrap {
    padding: 2rem 0;
  }
  .map{
    margin-bottom: 2rem; 
  }
}

footer {
	padding: 0rem 0;
	.container{
	display: flex;
	flex-direction:column;

	.box{
		width: 50%;
		margin-top: 3rem;
		margin-right:auto;
		margin-left: auto;

	}
}
}
}

@media (min-width: 425px) {
	
header.topbar{
   
   .container{
       max-width: 425px;   
       flex-direction:column;
    .icon{
    	align-items:center;
    	padding-bottom: 1rem;
    }
    .auth {
    div {
      a{
           margin-right: 0rem;
        }
       
   	}
    
    }	
   }
    
}
nav{
	.container{
		flex-direction:column;
	}
   .navbar{
   	text-align: center;
   }
}

//------------------------

section.box{
    height: 300px;
	background-position: 80% 80%;
	text-align: center;
	.container{
       position: relative;
       flex-direction:column;
	}    
div{
		 h1{
			font-size: 1.6rem;
		}
	p{
		width: 100%;
		line-height: 1.1rem;
		margin: 0.7rem auto; 
	} 
	.welcome{
		    margin: 0px 80px;
	}
	button{
		align-items:center;
		margin-right: 1rem;
	}
}
	.header-img{	
		img{
			display: none;
		}
	}
}
.about-meal-box{
	flex-direction:column;

	img{
		width: 100%;
	}
  .about-meal-text{
    margin: auto;
    text-align: center;
  }
}
.service{
  .card-wrapper{
  flex-direction:column;
  margin-top: 0rem;
  margin-right: 0rem;
  }
  .card{
    margin-right: 0rem;
    margin-top: 5rem;
  }
}

 .big-deal{
  
  .timer{
    .time{
      height: 100px;

      span:first-child{
        font-size: 1.5rem;
      }
    }
  }
 }

 .blog{
 
  .section-heading{
  	margin-bottom:2rem;
  }
 
  .article-wrapper{
  	flex-direction:column;
      margin-right: 0rem;
    .article-card{
    	margin-top: 3rem;
      margin-right: 0rem;
      .card-content{
        padding: 1.5rem;
        text-align: center;
       
       h2{
        font-size: 1.1rem;
       }
       
      .post-meta{
      	font-size: 0.8rem;
      }
      }
     
    }
  }
 }


.subscribe{
	.container{
		flex-direction:column;
	}
  .sub-img{
    width: 100%;
    img{
    	width: 100%;
    }
  }
 }

 .contact{
 	flex-direction:column;
  .contact-info-wrap {
    padding: 2rem 0;
  }
  .map{
    margin-bottom: 2rem; 
  }
}

footer {
	padding: 0rem 0;
	.container{
	display: flex;
	flex-direction:column;

	.box{
		width: 50%;
		margin-top: 3rem;
		margin-right:auto;
		margin-left: auto;

	}
}
}
}
@media (min-width: 768px) {
	.container{
		max-width: 720px;
	}
	section.header{
	height: 400px;
	
	.container{
       position: relative;

	}    
	 h1{
			font-size: 1.8rem;	
		}
	.header-img{
		position: absolute;
		top: -40px;
		right: -25px;
	}
}

.subscribe{
  
  .sub-img{
    width: 100%;
    img{
    	width: 100%;
    }
  }

  .sub-text{
  h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  p{
    font-size: 0.9rem;
    margin-bottom: 1rem;  
  }

  .input-wrap{
    input{
      font-size: 0.9rem;
    
    }
    button{
      font-size: 0.9rem;
    }

    }
  }
  }
 
}
@media (min-width: 992px) {
	.container{
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container{
		max-width: 1152px;
	}
}