section{
	padding: 4rem 0;
}

.top-products{
		background: var(--light);
    align-items:center;

.slider {
  height: 600px;
.prev{
  position: relative;
  margin-right: -45px;
  z-index: 100; 
  float: left;
  margin-top: 130px;
  cursor: pointer;
}
.next{
  position: relative;
  margin-left: -45px;
  z-index: 100;
  float:right;
  margin-top: 130px;
  cursor: pointer; 
}
}
	.food-slider{
		 margin: 0 27px;
     position: relative;
     overflow: hidden;
     div{
       

      .active{
        display: inline-block;
      }
     }
		.food-card{
      width: 300px;
      height: 400px;
			background-color: var(--heaven);
			padding: 1.5rem 0;
			border-radius: 4px;
      margin: 20px;
    hr{
    	border:1px solid var(--light);
    	opacity:0.8;
    	margin:1rem 0; 
    }
    h2{
    	font-family: "Raleway-bold";
    	font-size: 1.3rem;
    	margin-bottom: 0.25rem;
    }
    .star-icons i{
    	color: var(--primary);
    	margin-bottom: 0.5rem;
    }
    .price{
    	font-family: "Raleway-medium";
    	color: var(--danger);
    	margin-bottom: 1rem;
    }
    button{
    	font-family: "Raleway-medium";
    	color: var(--secondary);
    	background-color: var(--haven);
    	border:2px solid var(--primary);
    	display: flex;
    	i{
    		background-color:var(--primary);
    		color: var(--light);
    		padding:0.6rem ;
    		font-size: 1rem;

    	}
    	span{
    		padding: 0.56rem;
    		text-align: center;
    		font-family: "Raleway-extrabold";
    		font-size: 0.9rem;
 
    		&:hover{
    			background-color: var(--primary);
    			color: var(--pure);
    			transition:all .3s ease;
    		}
    	}

    }
	.product-img {
    align-items:center;
    width: 80%;
    height: 50%;
    margin: auto;
    img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    padding-bottom: 1rem;
    }
  }
	}
	}
	}